:root {
    --body: #fff;
    --black: #000;
    --white: #fff;
    --theme: #1ba9c9 --theme-2: #113d48;
    --header: #0a1f24;
    --text: #687179;
    --border: #e1e4e5;
    --border-2: #bdbdbd;
    --bg: #f7f7f7;
    --box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.13);
}

// Theme Color - Defualt Colors
$black: var(--black);
$white: var(--white);
$theme-color: var(--theme);
$theme-color-2: var(--theme-2);
$text-color: var(--text);
$header-color: var(--header);
$border-color: var(--border);
$border-color-2: var(--border-2);
$bg-color: var(--bg);
$shadow: var(--box-shadow);
